<h2>Enter a flickr id to get thier photostream</h2>
<%= form_tag root_path, method: :get do %>
	<%= text_field_tag :flickr_id %>
	<%= submit_tag "Search" %>
<% end %>

<h1><%= @flickr_id %></h1>

<%= render_flickr_sidebar_widget(@flickr_id) %>